p {
    color: blue;
    font-size: 22px;
    font: bold;
}

div {
    text-align: center;
    text-transform: capitalize;
    font-family: sans-serif;
    width: 260px;
    height: 140px;
}

.eka {
    background-color: red;
    position: absolute;
    border-style: solid;
    border-color: green;
    border-width: 10px;
}

.toka {
    background-color: yellow;
    position: absolute;
    left: 340px;
    border-style: solid;
    border-color: red;
    border-width: 10px;
}

.kolmas {
    background-color: green;
    position: absolute;
    left: 660px;
    border-style: solid;
    border-color: yellow;
    border-width: 10px;
    
}